/*                                               container__portfolio  section start     */
.portfolio--container-box{
    flex-wrap: wrap;
}
.portfolio--container-box .index-portfolio{
    margin:1rem 1rem ;
}
.portfolio__heading{
    height: 15rem ;
    background-color: black;
    text-align: center;
    overflow: hidden;
}
.portfolio__heading h1{
    margin-top: 4rem;
    color: white;
    font-size: 4rem;
    font-weight: 300;
}
.portfolio__heading h5 a{
    font-size: .8rem;
    font-weight: 500;
}
.portfolio__heading h5 a:hover{
    opacity: .7;
}
.portfolio-navigation-menu{
    /* display: block !important; */


}
.portfolio-navigation{
    margin-top: 2rem;
}
.portfolio-navigation a{
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.portfolio-navigation a.active::after{
    width: 100% !important;
    transition: ease-in-out .2s;

}
.index-portfolio .content{
    background-color: rgba(0, 0, 0, 0.646); 
}
.index-portfolio:hover .bg-img{
    transform: scale(1.1) !important;
}
.achievements__box:hover .content{
    visibility: visible;
    opacity: 1;
}
.portfolio-text a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 99;
    /* transition: all .5s; */
}
.portfolio-text h4{
    font-size: .8rem;
    font-weight: 400;
    padding-bottom: .5rem;
    visibility: hidden;
}
.portfolio-text h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: .5rem;
    visibility: hidden;
}
.achievements__box:hover h4{
    visibility: visible;
    animation: botomUp .5s ease-in-out;  
}
.achievements__box:hover h1{
    animation: upBottom .5s ease-in-out;
    visibility: visible;  
}

/*                                Robotic part start                     */

.portfolio-robotic{
    /* height: 2000px; */
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
}
.robotic-left{
    text-align: center;  
} 
.robotic-left figure img{
    margin-top: 26px;
}
.robotic-right{
    padding: 1rem 1rem;
    width: 100%;
} 
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 36rem;
}
.robotic-right h1{
    font-size: 3rem;
} 
.robotic-right h5{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(25, 24, 24, 0.591);
    margin: 1rem 0rem;
} 
.robotic-right p{
    font-size-adjust: 1rem;
    line-height: 1.5rem;
} 
.robotic-right .side-box{
    padding: 1rem 2rem;
} 
.robotic-right .side-box .content-1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(76, 74, 74, 0.265);
    margin: 1rem 0rem;
} 
.robotic-right .side-box .content-1 h4{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(25, 24, 24, 0.591);
} 
.robotic-right .view-all {
    display: inline-block;
    margin: 1rem 0rem;
    padding: 13px 17px;
    border-radius: 0px;
    font-size: 1rem;
}
.robotic-icon{
    margin-left: 12rem !important;
    margin-top: -4rem !important;
}


.container__back-to-list{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    /* max-width: 50rem; */
    margin: 3rem 10rem;
    border-top: 1px solid rgba(152, 62, 62, 0.394);
    border-bottom: 1px solid rgba(152, 62, 62, 0.394);
}
.back-list-left, .back-list-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-chevron{
    transition: all .8s;
}
.back-list-left:hover .icon-chevron{
    animation: icon-chevron 9s ease-in;
}
.back-list-right:hover .icon-chevron{
    animation: icon-chevron 9s ease-in;
}
.color{
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 27px;
}
.back-list-left:hover .color{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.back-list-right:hover .color{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.icon-chevron a{
    padding: 0rem 1rem;

}
.newre ,.older{
    font-size: .9rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.newre span{
    display: block;
    font-weight: 600;
    color: rgba(17, 16, 16, 0.591);
}
.older span{
    display: block;
    font-weight: 600;
    text-align: end;
    color: rgba(17, 16, 16, 0.591);
}
.back-list-middle:hover  .back-list-middle-text{
    visibility: visible;
    transition: all .5s;
    animation: back-list-text .3s ease-in;
}
.back-list-middle{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}
.back-list-icon{
    width: 25px;
    margin: 3px;
    margin-left: 60px;
}
.back-list-icon a{
    font-size: 1.5rem;
    color: rgb(88, 84, 84);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.back-list-middle-text{
    display: block;
    background-color: black;
    color: white;
    font-size: .9rem;
    padding: 5px 8px;
    visibility: hidden;
    /* transition: all .2s; */
}


.related__project-text{
    margin: 0rem 9rem;
    display: block;
}
.related__project-text h2::after{
    content: '';
    display: block;
    width: 5%;
    height: 3px;
    background: rgb(255, 46, 46);
    margin-top: 7px; 
    transition: all 1s;
}
.related__project-text h2:hover::after{

    width: 16%;
   
}